@font-face {
  font-family: HoganMania;
  src: url(HoganMania.ttf);
}

body {
    text-align: center;
}

h1 {
    font-family: HoganMania, 'Contrail One';
    font-size: 200px;
    margin: 0;
    letter-spacing: 8px;
}

h2,
span,
p {
  font-family: 'Contrail One', cursive;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0;
}

p {
  margin-top: 0;
}

input[type=image] {
  height: 30px;
  width: auto;
}

#submitGrid {
  margin-top: 0.5em;
}

#eraser,
#transparentEraser {
  border: 1px solid #999;
}

#eraserOff,
#transparentEraserOff {
  border: 1px solid #ed1c24;
  background: pink;
}

#bomb,
#transparentBomb {
  border: 1px solid #999;
  transition: background-color 0.4s;
}

#bomb:hover,
#transparentBomb:hover {
  background-color: #ff0000;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    cursor: crosshair;
    max-width: 95%;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
    margin-top: 0.5em;
}

input[type=color] {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background: transparent;
  padding: 5px;
  cursor: pointer;
  outline: 3px solid black;
}

@media screen and (max-width: 650px) {
  h1 {
    font-size: 95px;
    letter-spacing: 4px;
  }
  h2:first-of-type {
      margin-top: 0.25em;
  }
  h2 {
    font-size: 20px;
  }
}
